google-cloud-bigquery
google-cloud-secret-manager
google-cloud-storage
python-dotenv
dbt-core
dbt-bigquery
watchdog
plotly
openai
pandas

# orchestration
dagster==1.13.15
dagster-webserver==1.13.15
dagster-dbt==0.29.15
dagster-gcp==0.29.15
duckdb==1.5.5
